body{
  background-color: #00ffff;
}
.add-course{
  display: none;
}
.p-r-log-b-h4{
  background-color:  #000000;
}

.p-r-log-b-h4:hover{
  border-bottom: 7px solid blue;
  background-color: #00ff00;
}