.carded{
  width: 18rem;
}

.AllCourses {
	background-color: #33ff33;
}

.head {
	font-size: 2.5em;
	color: #000;
}

.head1 {
	font-size: 2.5em;
	color: #fff;
}

.card {
	color: white;
}

.populer-div {
	padding-bottom: 2em;
	padding-top: 2em;
}



@media (min-width: 0px) and (max-width: 576px) {
	.head,
	.head1 {
		font-size: 1.25em;
	}
	.populer-div {
		padding-bottom: 0.625em;
		padding-top: 1em;
	}
	}
	
