#bod {
	background-image: url('../Images/back.jpeg');
	background-size: cover;
	border-top: 5px solid #000;
}

.contact-form {
	background: rgba(0,0,0, .6);
	color: white;
	padding: 20px;
	box-shadow: 0px 0px 10px 3px grey;
	
}

.contcthead{
  color: #6ff;
}

i.fa {
	font-size: 3.125rem;
	color: #00ff00;
}

.size {
	font-size: 1.563rem;
	color: #ff0000;
}

